
<%- include('partials/header')%>

<div class="caption">
<h1 style="color:red; background-color: orange;">Unfortunately No parks were found in your City.</h1>

<img class="puppy" src="./Sad-Puppy-Face-Picture.jpg"/>


<form action="/search">
<button class="btn btn-primary">Back to search!!!</button>
</form>
</div>
</div>

<%- include('partials/footer')%>



