
<%- include('partials/header')%>

<div class="caption">
<h1 style="color:red;">Unfortunately No parks were found in you City.</h1>

<a href="/search">Returnt to search</a>
</div>

<%- include('partials/footer')%>



