<%- include('partials/header')%>


<div class="caption">
<h1>These are your favorites!!!!</h1>


<form action="/search">
<button class="btn btn-primary">Back to search!!!</button>
</form>
</div>





<%- include('partials/footer')%>