<%- include('partials/header')%>
<div class="caption">
  <div>
    <h1>Favorites</h1>
    <div class="results">
      <div>
        <strong>
            <h4>Parks</h4>
            <div id="myfavorites"></div>
        </strong>
      </div>
    </div>
  </div>
</div>
<script src="loadfavorites.js"></script>
<%- include('partials/footer')%>