<%- include('partials/loginheader')%>

<div class="caption">
<h1 >Log in</h1>
<form action="/search" method="GET" class="form-inline my-2 my-lg-0 caption">
    <label for="">User Name:</label>
    <input type="text" placeholder="Username">
    <label for="">Password:</label>
    <input type="password" placeholder="Password">
    
    <button class="btn btn-success" type="submit">Submit</button>
    
</form>

</div>


<%- include('partials/footer')%>