<%- include('partials/header')%>

<div class="caption">
      
    <h1>Texas Adventure App</h1>
   <form class="form-inline my-2 my-lg-0 caption" action="/random" method="GET">
       
        <label for="">Randomize your experience: </label>
    
       <button class="btn btn-success" type="submit">
         Your Next Adventure 
       </button>
     </form>
     <form action="/city" method="GET">

        <label for="">Chose your city:</label>
        <input type="text" placeholder="Enter your city">


        <button class="btn btn-success" type="submit" >Submit</button>
     </form>
 </div>

<%- include('partials/footer')%>