<%- include('partials/header')%>

<div class="caption">
      
    <h1>Texas Adventure App</h1>
   <form class="form-inline my-2 my-lg-0 caption" action="/random" method="GET">
       
        <label for="random">Randomize your experience: </label>
    
       <button class="btn btn-success" type="submit" id="random"name="random" value="Why_arent_koalas_actual_bears______They_dont_meet_the_koalafications." >
         Your Next Adventure 
       </button>
     </form>
     <form action="/city" method="GET">

        <label for="city">Chose your city:</label>
        <input type="text" placeholder="Enter your city" id="city" name="city">


        <button class="btn btn-success" type="submit" >Submit</button>
     </form>
 </div>

<%- include('partials/footer')%>