<%- include('partials/header')%>

<div class="caption">
      
    <h1>Texas Adventure App</h1>
   <form class="form-inline my-2 my-lg-0 caption" action="/random">
       
        <label for="">Randomize your experience: </label>
    
       <button class="btn btn-success" type="submit">
         Your Next Adventure 
       </button>
     </form>
     <form action="/city" method="GET">

        <label for="">Chose your city:</label>
        <input type="text" placeholder="Enter your city">


        <button class="btn btn-success" type="submit" >Submit</button>
     </form>
 
   
   <div class="card" style="width: 18rem; height:25rem " >
     <div style="overflow:hidden scroll; ">
     <img src="../The-Best-Classic-Tacos-550.jpg" class="card-img-top" alt="...">
     <div class="card-body" >
       <h5 class="card-title">Location Name</h5>
       <p class="card-text" >Very long description what the place is and just basic information that can be used to interest people who want to go her and have fun or enjoy the sights
       
       </p>
     
     <ul class="list-group list-group-flush">
       <li class="list-group-item">Directions</li>
       <li class="list-group-item">Weather</li>
       <li class="list-group-item">Activities in the area</li>
     </ul>
     <div class="card-body">
       <a href="#" class="card-link">Card link</a>
       <a href="#" class="card-link">Another link</a>
     </div>
   </div>
   <div >
     <img src="../The-Best-Classic-Tacos-550.jpg" class="card-img-top" alt="...">
     <div class="card-body" >
       <h5 class="card-title">Location Name</h5>
       <p class="card-text" >Very long description what the place is and just basic information that can be used to interest people who want to go her and have fun or enjoy the sights
       
       </p>
     
     <ul class="list-group list-group-flush">
       <li class="list-group-item">Directions</li>
       <li class="list-group-item">Weather</li>
       <li class="list-group-item">Activities in the area</li>
     </ul>
     <div class="card-body">
       <a href="#" class="card-link">Card link</a>
       <a href="#" class="card-link">Another link</a>
     </div>
   </div>
   <div >
     <img src="../The-Best-Classic-Tacos-550.jpg" class="card-img-top" alt="...">
     <div class="card-body" >
       <h5 class="card-title">Location Name</h5>
       <p class="card-text" >Very long description what the place is and just basic information that can be used to interest people who want to go her and have fun or enjoy the sights
       
       </p>
     
     <ul class="list-group list-group-flush">
       <li class="list-group-item">Directions</li>
       <li class="list-group-item">Weather</li>
       <li class="list-group-item">Activities in the area</li>
     </ul>
     <div class="card-body">
       <a href="#" class="card-link">Card link</a>
       <a href="#" class="card-link">Another link</a>
     </div>
     
   </div>
   
   
 </div > 
 
 
</div>

</div>






<%- include('partials/footer')%>