<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Get name and info of a Texas National Park in the United States</h1>
        <form action="/results" method="GET">
            <input type="number" 
            placeholder="Enter a number between 0 and 15"
            min="0" max="15" autofocus name="id">
            <button type="submit">Choose a National Park</button>
            <button type="reset">Reset to Begin again</button>
        </form>       
    </body>
</html>